---
const personalImageAlt = "Lautaro Décima";
---

<article
  class="flex flex-col items-center justify-center gap-6 text-white-200 dark:text-gray-300 md:flex-row md:gap-8"
>
  <div class="px-4">
    <p class="mt-2 mb-4 text-sm md:text-base font-normal">
      Me llamo Lautaro, soy Desarrollador de Software con experiencia en el
      diseño y desarrollo de soluciones backend. Constantemente busco
      oportunidades para crecer tanto en lo profesional como en lo personal, y
      me esfuerzo por ampliar mis conocimientos y experiencia en el área de
      desarrollo de software.
    </p>

    <p class="mt-2 mb-4 text-sm md:text-base font-normal">
      Actualmente, me desempeño como Desarrollador Backend, donde utilizo mis
      habilidades técnicas y mi capacidad para trabajar en equipo para crear
      soluciones sólidas y escalables.
    </p>

    <p class="mt-2 mb-4 text-sm md:text-base font-normal">
      Además, cuento con el título terciario de Técnico Superior en Desarrollo
      de Software, respaldando mis habilidades con una formación académica
      sólida.
    </p>

    <p class="mt-2 mb-4 text-sm md:text-base font-normal">
      <strong>Mis skills incluyen: </strong>JavaScript, TypeScript, Node.js,
      NestJS, APIREST, Microservicios, Jest, Docker, Kubernetes, SQL Server,
      MongoDB, PostgreSQL, Kibana, CI/CD, Openshift, ORM: TypeORM, PrismaOrm.
      Frontend: HTML, CSS, Boostrap, React.
    </p>

    <p class="mt-2 mb-4 text-sm md:text-base font-normal">
      Actualmente me encuentro capacitándome de forma autodidacta y práctica en
      servicios en la nube, preparándome para rendir la certificación
      <strong> AWS Certified Developer – Associate</strong>, con el objetivo de
      ampliar mis competencias.
    </p>

    <p class="mt-2 mb-4 text-sm md:text-base font-normal">
      Estoy siempre buscando aprender y mejorar mis habilidades. Soy una persona
      proactiva, con fuertes habilidades en relaciones interpersonales y
      colaboración en equipo.
    </p>

    <p class="mt-2 mb-4 text-sm md:text-base font-normal">
      Si estás interesado en mi perfil, no dudes en contactarme para charlar y
      explorar posibles oportunidades de colaboración.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me1.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-48 h-48 p-1 md:order-2 md:w-64 md:h-64 rotate-3 lg:p-2 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
