---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Actualidad",
    title: "Software Engineer - NTT DATA",
    description: [
      "Responsable del desarrollo y optimización de la arquitectura backend y frontend de un sistema CRM, trabajando con tecnologías modernas bajo un enfoque de microservicios y desarrollo fullstack. ",
      "<b><u>Backend:</u></b>",
      "Diseño e implementación de microservicios en una arquitectura desacoplada:",
      "Microservicios FCD: Desarrollo de lógica de negocio y exposición de servicios REST. ",
      "Microservicios DAO: Acceso a datos utilizando bases de datos SQL y NoSQL (MongoDB), incluyendo la creación y mejora de stored procedures para alto rendimiento. ",
      "Microservicios de integración: Conexión con APIs externas para asegurar la interoperabilidad del sistema. ",
      "Incorporación de caché utilizando Data Grid, para mejorar la latencia de microservicios de alta concurrencia y reducir el acceso repetitivo a una API o base de datos, optimizando el tiempo de respuesta. ",
      "Automatización del ciclo de vida de despliegue mediante flujos de CI/CD en OpenShift. ",
      "Implementación de pruebas unitarias y de integración para asegurar calidad y robustez del código. ",
      "Monitoreo de servicios y resolución de incidencias utilizando herramientas como Kibana y Dynatrace. ",
      "<b><u>Frontend:</u></b>",
      "Desarrollo de funcionalidades utilizando React con TypeScript, implementando componentes reutilizables y mantenibles.",
      "Manejo de estados y efectos con useState, useEffect, apiContext y manejos de webhooks, facilitando una arquitectura limpia y escalable.",
      "Maquetado de vistas a partir de diseños en Figma, utilizando HTML, CSS y Bootstrap. ",
      "Integración con microservicios mediante llamadas asincrónicas para garantizar una experiencia fluida. ",
      "Implementación de feature flags en el frontend para habilitar o restringir funcionalidades dinámicamente, según el usuario o el entorno (INT, CERT, PROD), permitiendo un control granular del despliegue de nuevas características. "
    ],
  },
  {
    date: "Agosto 2022 - Septiembre 2023",
    title: "Backend Developer - Bitionz",
    description: [
      "Desarrollo de APIs REST utilizando TypeScript, Node.js, Express.js y SQL Server.",
      "Manejo de librerías como bcryptjs, jsonwebtoken, nodemailer, entre otras.",
      "Despliegue y configuración avanzada de APIs con Docker, incluyendo el uso de docker-compose para orquestar múltiples servicios (base de datos, backend, etc.) en entornos de desarrollo y producción.",
      "Integración con servicios externos, como la API de Mercado Pago, para gestionar procesos de pago de forma segura y eficiente.",
      "Gestión de bases de datos: Diseño, modelado, mantenimiento y consultas complejas en SQL Server. ",
      "Documentación técnica del backend y de las APIs usando Postman y Swagger.",
      "Mantenimiento y solución de errores de la web Argentina MINING usando NestJS, Next.js, TypeORM y PostgreSQL.",
    ],
  },
  {
    date: "Junio 2021 - Agosto 2022",
    title: "Soporte Técnico IT - Inmobiliaria Cocucci S.A",
    description: [
      "Instalación y mantenimiento preventivo de equipos informáticos.",
      "Asesoramiento general, instalación de software, documentación y seguimiento de errores.",
      "Resolución de problemas técnicos, incluyendo la reparación de equipos defectuosos.",
      "Monitoreo y supervisión de backups para resguardar la información.",
      "Mantenimiento de riesgos informáticos y medidas de seguridad.",
    ],
  },
];
---

<ol class="relative border-s border-gray-200 ml-3 md:ml-6">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-8 md:mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
<br />
