---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Actualidad",
    title: "Software Engineer - NTT DATA",
    description: `Desarrollo de Microservicios para un CRM de Telefonica,implementando Clean Code. 
                  Desarrollo de APIs con Nodejs, Express y Typescript. 
                  Implementación de test unitarios. 
                  Gestión de bases de datos relacionales (SQL Server) y no relacionales (MongoDB). 
                  Kubernetes con Openshift`,
  },
  {
    date: "Agosto 2022 - Septiembre 2023",
    title: "Backend Developer - Bitionz",
    description: `Desarrollo de API Typescript, NodeJS, Express.js, SQL Server. 
                  Manejo de las siguientes librerías: bcryptjs, jsonwebtoken, nodemailer entre otras. 
                  Integración de servicios externos: Conectar la aplicación con servicios externos (API de mercado pago) para procesar pagos de manera eficiente. 
                  Gestión de bases de datos: Diseño, creación y mantenimiento de bases de datos, así como escribir consultas SQL. 
                  Documentación: Creación de documentación técnica que describa el funcionamiento del backend, las API usando Postman y Swagger. 
                  Mantenimiento y solución de errores de la página web Argentina MINING utilizando NestJS, Nextjs, TypeORM y base de datos PostgreSQL. `,
  },
  {
    date: "Junio 2021 - Marzo 2023",
    title: "Soporte Tecnico IT - Inmobiliaria Cocucci S.A",
    description: `Instalación y mantenimiento preventivo de equipos informáticos. 
                  Asesoramiento general, instalación de software, documentación y seguimiento de errores. 
                  Resolución de problemas técnicos, incluyendo la reparación de equipos defectuosos. 
                  Monitoreo y supervisión de Backups para resguardar la información. 
                  Mantenimiento de riesgos informáticos y medidas de seguridad. `,
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
