---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Actualidad",
    title: "Software Engineer - NTT DATA",
    description: [
      "Soy responsable del desarrollo y optimización de la arquitectura backend de un sistema CRM, centrado en la creación de microservicios que respaldan diversas funcionalidades.",
      "He implementado microservicios FCD para la lógica de negocio, así como microservicios DAO que se conectan a bases de datos relacionales (SQL) y no relacionales (MongoDB), mejorando la eficiencia a través de stored procedures.",
      "Además, diseño microservicios de integración para asegurar la interoperabilidad del sistema con APIs externas.",
      "Realizo pruebas unitarias exhaustivas y gestiono el despliegue en entornos de producción utilizando CI/CD en OpenShift.",
      "Monitoreo el rendimiento de los microservicios con herramientas como Kibana y Dynatrace, garantizando su estabilidad.",
      "Desarrollé nuevas funcionalidades en el front-end utilizando React con TypeScript, integrando microservicios de manera eficiente para garantizar una comunicación fluida entre el cliente y el servidor.",
      "Trabajo bajo la metodología ágil Scrum y utilizo Jira para la gestión de tareas, ofreciendo soporte técnico continuo para asegurar un rendimiento óptimo de los servicios.",
    ],
  },
  {
    date: "Agosto 2022 - Septiembre 2023",
    title: "Backend Developer - Bitionz",
    description: [
      "Desarrollo de API con TypeScript, NodeJS, Express.js y SQL Server.",
      "Manejo de librerías como bcryptjs, jsonwebtoken, nodemailer, entre otras.",
      "Integración con servicios externos como Mercado Pago para el procesamiento de pagos.",
      "Diseño, creación y mantenimiento de bases de datos; escritura de consultas SQL.",
      "Documentación técnica del backend y de las APIs usando Postman y Swagger.",
      "Mantenimiento y solución de errores de la web Argentina MINING usando NestJS, Next.js, TypeORM y PostgreSQL.",
    ],
  },
  {
    date: "Junio 2021 - Marzo 2023",
    title: "Soporte Técnico IT - Inmobiliaria Cocucci S.A",
    description: [
      "Instalación y mantenimiento preventivo de equipos informáticos.",
      "Asesoramiento general, instalación de software, documentación y seguimiento de errores.",
      "Resolución de problemas técnicos, incluyendo la reparación de equipos defectuosos.",
      "Monitoreo y supervisión de backups para resguardar la información.",
      "Mantenimiento de riesgos informáticos y medidas de seguridad.",
    ],
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
<br />
