<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav
    class={`
  boder border-black rounded-full
  px-3 py-1
  flex flex-row items-center
  bg-black-200 dark:bg-black/50b
  blackdrop-blur-2xl
  
  `}
  >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="/#"
      >Inicio</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="/#experience">Experiencia</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="/#projects"
      >Proyectos</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="/#about"
      >Sobre mi</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="mailto:decimalautaro@gmail.com">Contacto</a
    >
  </nav>
</header>
