<header
  class="flex justify-center items-center py-4 w-full xl:w-[1120px] mx-auto"
>
  <nav
    class="border border-black rounded-full px-4 py-2 flex flex-wrap items-center justify-center bg-black/80 dark:bg-black/50 backdrop-blur-xl gap-2"
  >
    <a
      class="hover:bg-white/10 rounded-full px-3 py-1 transition text-sm md:text-base text-center"
      href="/#"
    >
      Inicio
    </a>
    <a
      class="hover:bg-white/10 rounded-full px-3 py-1 transition text-sm md:text-base text-center"
      href="/#experience"
    >
      Experiencia
    </a>
    <a
      class="hover:bg-white/10 rounded-full px-3 py-1 transition text-sm md:text-base text-center"
      href="/#projects"
    >
      Proyectos
    </a>
    <a
      class="hover:bg-white/10 rounded-full px-3 py-1 transition text-sm md:text-base text-center"
      href="/#about"
    >
      Sobre mi
    </a>
    <a
      class="hover:bg-white/10 rounded-full px-3 py-1 transition text-sm md:text-base text-center"
      href="mailto:decimalautaro@gmail.com"
    >
      Contacto
    </a>
  </nav>
</header>
